.friendName {
  text-align: center;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.status {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.online {
  color: green;
}

.offline {
  color: red;
}
