.friendsList {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 370px;
  margin: 10px auto;
  list-style: none;
}

.friendsItem {
  background-color: #ffffff;
  padding: 5px;
  border: 2px solid #292929;
  border-radius: 5px;
}
